@import 'style.css';

#switch{
    margin: 0 auto;
    width: 220px;
    position: relative;
    border-radius: 16px;
    background-color: var(--bg3-bm);
}

#switch-bg{
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-radius: 16px;
    background: var(--green-bm);
    transition: .5s;
}

#switch-btn{
    padding: 10px 33px;
    cursor: pointer;
    /* background: var(--green-bm); */
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}