@import 'style.css';

.container-fluid{
    height: 100vh;
    padding: 0px;
}

.nav-link{
    color: #3AB46A;
}

.bm-openednav{
    width: 30vh;
    height: 100vh;
    box-shadow: 1px 1px 10px grey;

    transition: all ease-out .1s;
}
.bm-openednav.hide{
    width: 15vh;

    transition: all ease-in .1s;
}
.bm-openednav nav{
    height: 100%;
}
.bm-openednav.hide a, .bm-openednav.hide img{
    display: flex;
    justify-content: center;
}
.bm-openednav.hide #nav-item-text{
    display: none;
}

#navbar-logo-container{
    width: auto;
    height: 10vh;
}