@import 'style.css';

.bg-atas{
    background-color: var(--green-bm);
    height: 50vh;
}
.bg-bawah{
    background-color: var(--white-bm);
    height: 50vh;
}

.form-signin {
    width: 75vh;
    height: auto;
    padding: 36px;
    background: white; 
    box-shadow: 5px 4px 35px gray;
    border-radius: 36px;
}

